




* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /*--my-primary-color: rgba(35, 43, 56, 1);*/
  --my-primary-color: rgba(45, 56, 72, 1);
  /*--my-primary-color-lighter: rgba(45, 56, 72, 1);*/
  --my-primary-color-lighter: rgba(55, 68, 88, 1);
  --my-primary-color-opacity-2: rgba(35, 43, 56, 0.2);
  --my-primary-color-opacity-9: rgba(35, 43, 56, 0.9);

  --my-secondary-color: rgba(51, 63, 80, 1);
  --my-secondary-color-lighter: rgba(72, 88, 112, 1);
}

/*--------------------------------------------------------------
# General Styling
--------------------------------------------------------------*/
body {
  font-family: 'Segoe UI', sans-serif;
  /* font-size: 93.75%; */
}

a {}

a:hover {}

h1, h2, h3, h4, h5, h6 {}

.section{
  margin-top: 50px;

  padding: 40px;
  padding-bottom: 0px;  
}

.highlight-first-letter::first-letter{
  /*color: #657786;*/
  color: var(--my-secondary-color-lighter);
  font-size: 2em;
} 

.indent{
  text-indent: 30px;
}

@media (max-width: 500px) {
  .section{
    margin-top: 50px;

    padding: 40px 25px;
    padding-bottom: 0px;
  }
}


/*--------------------------------------------------------------
 Header
--------------------------------------------------------------*/
header {}

/*--------------------------------------------------------------
# notification-box
--------------------------------------------------------------*/
.notification-box{
  position: fixed;
  /*top will be reset with javascript by adding .animate-notification-box (for animation purposes)*/
  top: -50px;
  left: 50%;
  -webkit-transform: translate(-50%, -40%);
     -moz-transform: translate(-50%, -40%);
      -ms-transform: translate(-50%, -40%);
       -o-transform: translate(-50%, -40%);
          transform: translate(-50%, -40%);

  min-width: 250px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgba(235, 235, 235, 1);

  color: rgba(0, 210, 0, 1);
  z-index: 1000 !important;
  
  -webkit-transition: top 0.2s linear !important;
  transition: top 0.2s linear !important;

}

.animate-notification-box{
  top: 50px;
}

.notification-box > div{
  position: relative;
  padding-top: 15px;
}

.notification-box .close-btn{
  position: absolute;
  top: -15px;
  right: -15px;
  width: 40px;
  height:  40px;
  font-size: 35px;
  margin-top: -4px;
  padding-top: 3px;

  /* color: rgba(240, 240, 240, 1); */
  /*color: black;*/
  color: #485870;

  /*background-color: var(--my-primary-color);*/
  /* background-color: #485870; */
  background-color: white;
  
  border-radius: 50%;
  border: 1px solid black;
  outline: none;
}

.notification-box .close-btn > p{
  margin-top: -12px;
}

.notification-box .notification-text{
  padding-left: 25px;
  padding-right: 25px;
}


/*--------------------------------------------------------------
# banner
--------------------------------------------------------------*/
#banner{
  margin-top: 0px;
  height: 200px;
  /*background-color: #657786;*/
  background-color: var(--my-secondary-color);
}

#banner .container-fluid{}

#banner .logo h4{
  /* font-family: 'Raleway', 'Segoe UI', sans-serif; */
  /* font-size: 1.1em !important; */
  font-size: 16px;

}

#banner .nav-toggle-cont .nav-toggle-icon {
  width: 60px;
  height: 25px;
}

@media (max-width: 767px) {
  .notification-box{
    width: 90%;
  }
}

@media (max-width: 500px) {
  #banner{
    /* height: 220px; */
    height: 240px;
  }
  #banner .container-fluid{
    height: 180px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 400px) {
  #banner {
    padding-left: 30px;
    padding-right: 30px;
  }
  #banner .container-fluid{
    height: 180px;
  }
  #banner .logo h4{
    font-size: 1.1em;
  }
  #banner .logo p{
    font-size: 0.8em;
  }
}

@media (max-width: 350px) {
  #banner .nav-toggle-cont .nav-toggle-icon {
    width: 40px;
    height: 30px;
    margin-top: 10px !important;
  }
}


/*--------------------------------------------------------------
 Main
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# page-body
--------------------------------------------------------------*/
.page-body > div{
  width: 70%;
}

.page-body .profile .profile-picture{
  /*background-color: #7C8B98;*/
  background-color: var(--my-secondary-color-lighter);
  width: 216px;
  height: 216px;
  /* padding: 6px; */
  padding: 7px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 5px;
  /* margin-top: -200px; */
  margin-top: -190px;
}

.page-body .profile .social-links{
  margin-top: 50px;
  max-width: 400px;
}

.page-body .social-links a{
  display: inline-flex;
  width: 50px;
  height: 50px;
  /*color: #657786;*/
  color: var(--my-secondary-color-lighter);
  /*background: rgba(101, 119, 134, 0.2);*/
  background-color: var(--my-primary-color-opacity-2);
  border-radius: 50%;
  text-decoration: none;
  border: 1px solid #657786;
}

.page-body .social-links a:hover{
  background: white;
}

/*from the main.js file*/
#copy-whatsapp-number:hover{
  text-decoration: underline; 
}

.page-body .social-links a > i{
  font-size: 1.4em;
  font-weight: bold;
  margin: auto;
}

/*bio*/
.page-body .bio{
  margin-top: 40px;
}

/*send-button-and-form*/
.page-body .send-button-and-form{
  margin-top: 50px;
}

.page-body .send-button-and-form button{
  width: 170px;
  height: 50px;
  border: none;
  border-radius: 5px;
  /*background: #657786;*/
  background: var(--my-secondary-color-lighter);
  color: white;
  box-shadow: rgba(0,0,0,0.5) 0px 0px 5px;
  outline: none;
}

.page-body .send-button-and-form button:hover{
  background: var(--my-primary-color-opacity-2);
  color: black;
  box-shadow: initial;
  border: 1px solid black;
}

.page-body .send-button-and-form button:active{
  /*blinking effect*/
  color: transparent;
}

.page-body .send-button-and-form button:focus{
  border: 2px solid black;
}

/*form*/
.form-container {
  width: 100%;
  padding: 30px;
  background: #fff;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.form-container > div{
  /*background: rgba(101, 119, 134, 0.9);*/
  background: var(--my-primary-color-opacity-9);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;

}

.form-container > div form{
  position: relative;
  background: white;
  border-radius: 10px;
}

.form-container > div form #close-btn{
  position: absolute;
  top: -45px;
  right: -15px;
  width: 50px;
  height:  50px;
  font-size: 50px;

  /* border-radius: 50%; */
  /* border: 1px solid white !important; */

  box-shadow: initial;
  border: none;
  background-color: transparent;
}

.form-container > div form #close-btn:hover{
  /*background: rgba(0, 0, 0, 0.9);*/
  /* background: var(--my-secondary-color-lighter); */
  background-color: rgba(255, 255, 255, 0.1);
}
.form-container > div form #close-btn > p{
  margin-top: -18px;
}
.form-container .form-group {
  padding-bottom: 8px;
}


/*input placeholder*/
.form-container input::-webkit-input-placeholder{
  font-size: 13px;
  opacity: 0.8;
}
.form-container input::-moz-placeholder{
  font-size: 13px;
  opacity: 0.8;
}
.form-container input:-moz-placeholder{
  font-size: 13px;
  opacity: 0.8;
}
.form-container input::-ms-input-placeholder{
  font-size: 13px;
  opacity: 0.8;
}
.form-container input:-ms-input-placeholder{
  font-size: 13px;
  opacity: 0.8; 
}
.form-container input::placeholder {
  font-size: 13px;
  opacity: 0.8;
}

.form-container textarea {
  padding: 10px 12px;
}

.form-container input, 
.form-container textarea {}

/*all label tags added by the jQuery-form-validator*/
.form-container .form-group input + label,
.form-container .form-group input + .new-email-error-elem,
.form-container .form-group textarea + label{
  color: red;
  font-size: 13px;
}

.form-container .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.form-container .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.form-container .error-message br + br {
  margin-top: 25px;
}

.form-container .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.form-container .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.form-container .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.form-container button[type="submit"] {
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.form-container button[type="submit"]:focus{
  border: 2px solid #80bdff !important;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 900px) {
  #page-body > div{
    width: initial;
  }
  
  #page-body .profile .social-links{
    margin-top: 70px;
  }
}


/*--------------------------------------------------------------
 Footer
--------------------------------------------------------------*/
footer{}

/*--------------------------------------------------------------
# contact-details
--------------------------------------------------------------*/
.footer .contact{
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.footer .contact .contact-details-wrapper{
  /*background: #7C8B98;*/
  background: var(--my-secondary-color);
  padding-bottom: 150px;

  /*to cover the svg bottom border on mobile*/
  margin-top: -2px;
}

.footer .contact .contact-details > div{}

.footer .contact .contact-details .phone > span,
.footer .contact .contact-details .e-mail > span{
  width: 45px;
  height: 45px;
  /*background: #657786;*/
  background: var(--my-primary-color);
  /*background: var(--my-primary-color-lighter);*/
  border-radius: 50%;
}

.footer .contact .contact-details .phone span i,
.footer .contact .contact-details .e-mail span i{
  font-size: 1.2em;
  margin: auto;
}

.footer .contact .contact-details .phone p > .phone-no,
.footer .contact .contact-details .e-mail p > .email-address{
  font-size: 0.9em;
}

.footer .foot-note{
  /*background: #657786;*/
  background: var(--my-primary-color);
}

.footer .foot-note .copyright{
  color: white;
  height: 50px;
  padding-top: 15px;
}
.footer .foot-note p{
  font-size: 0.8em;
}
.footer .foot-note p a{
  text-decoration: underline;
}
.footer .foot-note p a:hover{
  text-decoration: none;
}







