* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*--------------------------------------------------------------
# General Styling
--------------------------------------------------------------*/
body {

  /*font-family: Segoe UI', sans-serif;*/
}

a {}

a:hover {}

h1, h2, h3, h4, h5, h6 {}

.section{
  margin-top: 50px;

  padding: 40px;
  padding-bottom: 0px;  
}

.highlight-first-letter::first-letter{
  color: #657786;
  font-size: 2em;
} 

.indent{
  text-indent: 30px;
}

@media (max-width: 500px) {
  section{
    margin-top: 50px;

    padding: 40px 30px;
    padding-bottom: 0px;
  }
}


/*--------------------------------------------------------------
 Header
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# banner
--------------------------------------------------------------*/
#banner{
  margin-top: 0px;
  /*padding-top: 40px;*/
  background: #657786;
}

#banner .container-fluid{
  height: 120px;
}

#banner .logo h4{
  font-family: 'Raleway', 'Segoe UI', sans-serif;
  font-size: 1.1em;
}

#banner .nav-toggle-cont .nav-toggle-icon {
  width: 60px;
  height: 25px;"
}

@media (max-width: 500px) {
  #banner .container-fluid{
    height: 180px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 400px) {
  #banner .container-fluid{
    height: 180px;
  }
  #banner .logo h4{
    font-size: 1.1em;
  }
  #banner .logo p{
    font-size: 0.8em;
  }
}

@media (max-width: 350px) {
  #banner .nav-toggle-cont .nav-toggle-icon {
    width: 40px;
    height: 30px;
    margin-top: 10px !important;
  }
}


/*--------------------------------------------------------------
 Main
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# page-body
--------------------------------------------------------------*/
#page-body > div{
  width: 70%;
}

/*profile*/
#page-body .profile .profile-picture{
  background: #7C8B98;
  width: 216px;
  height: 216px;
  padding: 6px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 10px;
  margin-top: -200px;
}

#page-body .profile .social-links{
  margin-top: 50px;
  max-width: 400px;
}

#page-body .social-links a{
  display: inline-flex;
  width: 50px;
  height: 50px;
  color: #657786;
  background: rgba(101, 119, 134, 0.2);
  border-radius: 50%;
  text-decoration: none;
  border: 1px solid #657786;
}

#page-body .social-links a:hover{
  background: white;
}

#page-body .social-links a > i{
  font-size: 1.4em;
  font-weight: bold;
  margin: auto;
}

/*bio*/
#page-body .bio{
  margin-top: 40px;
}

/*send-button-and-form*/
#page-body .send-button-and-form{
  margin-top: 50px;
}

#page-body .send-button-and-form button{
  width: 170px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background: #657786;
  color: white;
  box-shadow: rgba(0,0,0,0.5) 0px 0px 5px;
  outline: none;
}

#page-body .send-button-and-form button:hover{
  background: rgba(101, 119, 134, 0.2);
  color: black;
  box-shadow: initial;
  border: 1px solid black;
}

#page-body .send-button-and-form button:active{
  /*blinking effect*/
  color: transparent;
}

/*form*/
.form-container{

}

.form-container > div{
  /*background: rgba(101, 119, 134, 0.9);*/
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /*width: 100%;*/
  width: 0%;
  height: 100%;
  overflow-y: scroll;

/*  -webkit-transition: background 1s;  Safari 
  transition: background 1s;*/

  -webkit-transition: 1s; /* Safari */
  transition: 1s;
}

.form-container > div form{
  position: relative;
  width: 500px !important;
  border-radius: 10px;
}

.form-container > div form #close-btn{
  position: absolute;
  top: -25px;
  right: -25px;
  width: 50px;
  height:  50px;
  font-size: 1.5em;
  background: rgba(101, 119, 134, 1);

  border-radius: 50%;
  border: 1px solid white !important;
}

.form-container > div form #close-btn:hover{
  background: rgba(0, 0, 0, 0.9);
}

@media (max-width: 900px) {
  #page-body > div{
    width: initial;
  }

  /*form*/
  .form-container > div form{
    width: 35%;
  }
}

@media (max-width: 600px) {
  /*form*/
  .form-container > div form{
    width: 100% !important;
  }
}

@media (max-width: 500px) {
  /*form*/
  .form-container > div{
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
}

@media (max-width: 450px) {
  /*form*/
  .form-container > div{
    padding-left: 25px !important;
    padding-right: 25px !important;
  }
}

@media (max-width: 320px) {
  /*form*/
  .form-container > div{
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}

/*--------------------------------------------------------------
 Footer
--------------------------------------------------------------*/
footer{
  /*padding: 0;*/
  /*margin: 0;*/
}

/*--------------------------------------------------------------
# contact-details
--------------------------------------------------------------*/
#contact{
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  /*padding-bottom: 0;*/
  /*padding: 0;*/
}

#contact svg{}

#contact .contact-details-wrapper{
  background: #7C8B98;
  padding-bottom: 150px;

  /*to cover the svg bottom border on mobile*/
  margin-top: -2px;
}

#contact .contact-details > div{}

#contact .contact-details .phone span,
#contact .contact-details .e-mail span{
  width: 45px;
  height: 45px;
  background: #657786;
  border-radius: 50%;
}

#contact .contact-details .phone span i,
#contact .contact-details .e-mail span i{
  font-size: 1.2em;
  margin: auto;
}

.foot-note{
  background: #657786;
}

.foot-note .copyright{
  color: white;
  height: 50px;
  padding-top: 15px;
}
.foot-note p{
  font-size: 0.8em;
}
.foot-note p a{
  text-decoration: underline;
}
.foot-note p a:hover{
  text-decoration: none;
}







